body {
    background: #fff;
    color: #000;
}

h1,h3 {
	text-align: center;
}

#description {
	margin-top: 20px;
	margin-left: 50px;
}

.hidden{
	display:none;
}

.deadpoolLeft{
	float:left;
}
.deadpoolRight{
	float: right;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}


.processor{
	margin-bottom: 20px;
	margin-left: 50px;
	display: block;
}