body {
    background: #fff;
    color: #000;
}

h1,h3 {
	text-align: center;
}

#deadpoolLeft{
	float: left;
}

#deadpoolRight{
	float: right;
}

.processor{
	text-decoration: underline;
}

.resultsPerProc{
	
}

.processorName {
	font-weight: bold;
	font-size: 15px;
}
.fail {
	color: red;
}